body {
  background-image: url('serpent.png');
  background-size: cover;       /* Pour que l'image couvre tout le fond */
  background-position: center;  /* Centrer l'image */
  background-repeat: no-repeat; /* Pas de répétition */
  background-attachment: fixed; /* Optionnel : pour que l'image reste fixe lors du scroll */
}


canvas {
  border: 2px solid #fff;
  background-color: #000;
}

#restartBtn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: none;
}

#restartBtn:hover {
  background-color: #ddd;
}

h1 {
  font-size: 5rem;       /* très gros */
  font-weight: 700;      /* gras */
  width: 100%;           /* pleine largeur */
  text-align: center;    /* centré */
  font-family: Arial, sans-serif; /* ou autre police si tu veux */
  margin-bottom: 10px;
  color: black;
}

p {
  color: black;
  font-family: Garamond, serif;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 18px;
}

